<ion-header>
  <ion-toolbar>
    <ion-title>Ionic Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.name.errors?.required">
      Name is required.
    </span>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.name.errors?.minlength">
      Min 3 chars long.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.required">
      Email is required.
    </span>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.pattern">
      Enter valid email.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">DOB</ion-label>
      <ion-datetime (ionChange)="fetchDate($event)" formControlName="dob" [value]="defaultDate"></ion-datetime>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Phone</ion-label>
      <ion-input maxlength="10" formControlName="phone" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.phone.errors?.required">
      Phone number is required.
    </span>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.phone.errors?.pattern">
      Number values allowed.
    </span>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>